<html>
  <head>
    <title>Lab 2-3b</title>
    
    <link rel="stylesheet" href="/styles/styles.css">
  </head>
  <body>
    
    <h1>Trolo</h1>

<div class="square">

  <h2>Today</h2>

  <div class="item">
      <input class="btn" type="submit" value="Done">
      <div class="item-text"><%= params %></div>
  </div>

  <div class="item">
      <input class="btn" type="submit" value="Done">
      <div class="item-text"><%= params %></div>
  </div>

  <div class="item">
      <input class="btn" type="submit" value="Done">
      <div class="item-text"><%= params %></div>
  </div>

  <div class="item">
      <input class="btn" type="submit" value="Done">
      <div class="item-text"><%= params %></div>
  </div>

  <div class="item">
      <input class="btn" type="submit" value="Done" >
      <div class="item-text"><%= params %></div>
  </div>

  <div class="item">
      <input class="btn" type="submit" value="Done">
      <div class="item-text"><%= params %></div>
  </div>

  <div class="item">
      <input class="btn" type="submit" value="Done" >
      <div class="item-text"><%= params %></div>
  </div>

  <div class="item">
      <input class="btn" type="submit" value="Done">
      <div class="item-text"><%= params %></div>
  </div>

  <div class="item">
      <input class="btn" type="submit" value="Done" >
      <div class="item-text"><%= params %></div>
  </div>

  <input class="textIn" type="text" placeholder="Add a card..">

</div>


  </body>
</html>